<article id="book" class="Screen">
	<header>
		<h1><img src="/assets/logo.png" /></h1>
	</header>
	<section class="Hotel">
		<img src="/assets/book.jpg" />
		<footer>
			<button id="rooms" class="Next">Select Rooms</button>
		</footer>
	</section>
</article>
