<!DOCTYPE html>
<html lang="en-UK">
<head>
	<meta charset="UTF-8">
	<!-- We might change this scale bit in the future... -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

	<title>Booking Bot</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<%- body %>
	<section id="loading_screen" class="Screen">
		<img src="assets/logo_light.png" />
		<div class="Spinner"></div>
	</section>
</body>
</html>
