<!DOCTYPE html>
<html lang="en-UK">
<head>
	<meta charset="UTF-8">
	<!-- We might change this scale bit in the future... -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

	<title>Booking Bot</title>
	<link rel="stylesheet" type="text/css" href="css/style.css?rand=<%= Math.random() %>" />
</head>
<body>
	<%- body %>
	<!-- <section id="loading_screen" class="Screen">
		<img src="assets/logo_light.png" />
		<div class="Spinner"></div>
	</section> -->
	<script type="text/javascript">
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'Messenger'));
	</script>
</body>
</html>
