<article id="results" class="Screen">
	<header>
		<h1><img src="/assets/logo.png" /></h1>
	</header>
	<section class="Results">
		<ol>
			<% hotels.forEach(hotel => { %>
			<li></li>
			<% }); %>
		</ol>
	</section>
</article>
